@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Carrinho", "Index", "Carrinho")
          
        </li>
        <li>
            @Html.ActionLink(User.Identity.GetUserName() + "", "Index", "Contas", routeValues: null, htmlAttributes: new { title = "Gerenciar" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Usuarios")</li>
        <li>@Html.ActionLink("Log in", "Login", "Login")</li>
    </ul>
}
