@model IEnumerable<UnitunesMvc.Core.Database.Entities.CarrinhoItem>

@{
    ViewBag.Title = "Carrinho";
}

<h2>Livros</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Midia.Categoria.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Midia.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Midia.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Midia.Categoria.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Midia.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Midia.Descricao)
        </td>

        <td>
        </td>
    </tr>
}

</table>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Carrinho.SubTotal)
    </dt>

    <dd>
        @(ViewBag.SubTotal)
    </dd>
</dl>

<p>
    @Html.ActionLink("Comprar", "Comprar", new { id = ViewBag.CarrinhoId}) |
    @Html.ActionLink("Esvaziar", "Esvaziar", new { id = ViewBag.CarrinhoId })
</p>

