@model IEnumerable<UnitunesMvc.Core.Database.Entities.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- TODO - Colocar a opção para list box das categorias -->
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ordenar <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>@Html.ActionLink("Todos", "Index", "Ordenar", new {tipo =0}, null)</li>
        <li>@Html.ActionLink("Novos", "Index", "Ordenar", new { tipo = 1 }, null)</li>
        <li>@Html.ActionLink("Recentes", "Index", "Ordenar", new { tipo = 2 }, null)</li>
    </ul>
</li>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lancamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Lancamento)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
